acvl_utils==0.2.1
adan_pytorch==0.1.0
batchgenerators==0.25.1
batchgeneratorsv2==0.2.1
dynamic_network_architectures==0.3.1
einops==0.8.0
hiddenlayer==0.3
matplotlib==3.9.3
nibabel==5.3.2
numpy==2.2.0
pandas==2.2.3
Requests==2.32.3
scikit_learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
setuptools==75.6.0
SimpleITK==2.4.0
skimage==0.0
threadpoolctl==3.5.0
tifffile==2024.8.30
torch==2.5.1
tqdm==4.67.1
